<div id="post-comments-<%=post._id %>">
    <% for (comment of post.comments){%>
        <div class="comment">

            <% if(locals.user && locals.user.id == comment.user.id) {%>
            <a href="comments/destroy/<%=comment.id%>">x</a>
            <%}%>
            <%= comment.content %> <br>
            <small><%= comment.user.name %></small>
            
        </div>
        
    <%} %> 
</div>
<% if(locals.user){ %>
    <form action="/comments/create" method="POST">
        <input type="text" name="content" placeholder="Add comments">
        <input type="hidden" name="post" value="<%=post._id%>">
        <input type="submit" value="Add comment">
    </form>
<%}%>